---
// Components
import BaseHead  from "@/layouts/BaseHead.astro"
import Footer from "@/layouts/Footer.astro"
import Nav from "@/layouts/Nav.astro"
import SiteSelector from '@shared/components/SiteSelector.astro';
import ClientScripts from '@shared/components/ClientScripts.astro';

// Styles
import "@shared/styles/global.scss"
---

<!doctype html>
<html lang="en">
<BaseHead {...Astro.props} />
  <body>
    <Nav />
    <main>
      <SiteSelector />
      <slot />
    </main>
    <Footer />
    <ClientScripts />
  </body>
</html>
